#1） touch .gitignore #创建gitignore隐藏文件
#2） vim .gitignore #编辑文件，加入指定文件
#过滤文件夹设置：
#/mtk/ 表示过滤这个文件夹
/WebUI/bin/
/WebUI/obj/
#过滤文件设置
#指定过滤某种类型的文件：
#*.zip
#*.rar
#*.via
#*.tmp
#*.err
#指定过滤某个文件：
#/mtk/do.c
#/mtk/if.h
#保守模式负责设置哪些文件不被过滤，也就是哪些文件要被跟踪。
#跟踪某个文件夹
#!/plutommi/mmi
#跟踪某类文件
#!*.c
#!*.h
#跟踪某个指定文件
#!/plutommi/mmi/mmi_features.h
#配置.gitignore 的简易原则
#采用共享模式与保守模式结合配置的办法。
#eg：一个文件夹下有很多文件夹和文件，而我只想跟踪其中的一个文件，这样设置就可
#以满足这种情况，先用共享模式把整个目录 都设置为不跟踪，
#然后再用保守模式把这个文件夹中想要跟踪的文件设置为被跟踪，#配置很简单，就可以跟踪想要跟踪的文件。
#git branch --set-upstream-to=origin/master 关联后，可以直接PULL PUSH